<div class="alert-warning cad-alert"
     ng-drop="true"
     ng-drop-success="onDropComplete($data, $event)"
     ng-drag="true"
     ng-drag-data="task"
     ng-drag-success="onDragSuccess($data, $event)">

    <span class="label label-success pull-left" ng-if="task.active">
        <span>Cамое что ни на есть активное таско</span>
    </span>

    <h1 class="title">{{task.title}}</h1>

    <div class="row" >
        <i ng-drag="true"
           ng-drag-success="deleteTomato($data, $event)"
           ng-repeat="tomato in getNumber(task.tomatos) track by $index"
           class="glyphicon glyphicon-ok-circle"></i>

    </div>

    <span class="label label-warning pull-right" ng-if="task.project">
        <span>{{task.project.title}}</span>
    </span>


</div>