$icon-font-path: "../bower_components/bootstrap-sass-official/assets/fonts/bootstrap/";
// bower:scss
@import "bootstrap-sass-official/assets/stylesheets/_bootstrap.scss";
// endbower


@import "status";
@import "comments";


.browsehappy {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}



html , body {
  height: 100%;
  overflow-x: hidden;
}

a {
  cursor: pointer;
}


.badge-danger {
  background-color: $label-danger-bg;
}

.label {
  vertical-align: middle!important;
}
.label--title {
  font-size: 12px;
}

//.hover-link {
//  display: none;
//}
//tr:hover .hover-link {
//  display: block!important;
//}

.menu-btn {
  height: 30px;
  padding: 4px 6px;
}
.menu-block .loaded{
  display: inline-block!important;
}

li.dropdown-text > span {
  display: block;
  padding: 3px 20px;
  clear: both;
  font-weight: normal;
  line-height: 1.428571429;
  color: #333333;
  white-space: nowrap;
}

// container

.cad-container {
  @extend .container;
}


// nav

.cad-navbar a{
  user-select: none;
}

.cad-navbar {
  @extend .navbar;
  @extend .navbar-inverse;
  @extend .navbar-static-top;
}

.cad-title {
  margin-top: 0.2em;
  margin-bottom: 0.5em;
  display: inline-block;
}

.cad-nav {
//  margin-bottom: 1em;
}

.cad-listing {
  @extend .table;
  @extend .table-hover;
  margin-top: 15px;
 th {
   border-top: none !important;
 }
  h4{
    display: inline-block;
  }
}

.cad-listing__item--disabled {
  opacity: 0.3;
}

.cad-listing__item--sellected {
  background-color: $alert-success-bg;
  color: $alert-success-text;
  .cad-listing__item--sellected__icon {
    opacity: 1;
  }

}

.cad-listing__item--sellected__icon {
  @extend .glyphicon;
  @extend .glyphicon-ok;
  opacity: 0;
}

.cad-nav__search {
//  max-width: 250px;
  display: block;
  position: relative;
}
.cad-nav__search__input{
    @extend .input-sm;
    @extend .form-control;
    padding-right: 30px;

}
.cad-nav__search__button-reset {
  @extend .btn;
  @extend .btn-danger;
  @extend .btn-sm;
  position: absolute;
  top: 0;
  margin: 0;
  color: $gray-light;
  background-color: transparent;
  border-color: transparent;
  right: 0;
}
.cad-nav__search__button-reset:hover,
.cad-nav__search__button-reset:active,
.cad-nav__search__button-reset:focus
{
  color: $gray;
  background-color: transparent;
  border-color: transparent;
}
.cad-nav__search__icon-reset {
  @extend .glyphicon;
  @extend .glyphicon-remove-circle;
}

.cad-alert {
  @extend .alert;
  margin: 1em auto;
}

.cad-alert--small {
  margin: 0 auto;
  padding: 0.5em 0.7em!important;
}

.cad-title--editable {
  width: 100%;
  display: block;
}

.form-control-editable{
  @extend .form-control;
  height: auto;
  font-size: 100%;
  display: inline-block;
  width: 80%;
}

.cad-title_text__static {
  display: inline-block;
  padding: 7px 13px;
  line-height: 1.428571429;
}

.cad-title__icon--editable {
  @extend .text-muted;
  font-size: 16px;

}


.cad-listing__stats {
  small {
    @extend .text-muted;
    margin-right: 0.8em;
  }
}


.wrapp {
  width: 100%;
  overflow-x: hidden;
}

.offcanvas {
  display: block;
  margin:0;
  padding: 0;
  transition: .3s ease all;
  width: 100%;
}

#site-menu {
  background-color: $navbar-default-bg;
  bottom: 0px;
  display: block;
  font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
  font-size: 14px;
  left: -400px;
  line-height: 20px;
  overflow-y: auto;
  position: absolute;
  right: auto;
  top: 0;
  width: 400px;
  z-index: 1030;
  padding: 0.5em 1em;
  transition: .3s ease all;
  h3 {
    display: block;
    margin-right: 0.5;
  }
}

.slide-menu {
  transition: .3s ease all;

}
.slide-menu.show-nav{
  transform: translateX(400px);
//  position: absolute;
}


.offcanvas.show-nav  {
//  -webkit-transform: translateX(300px);
  transform: translateX(400px);
  position: relative;
  overflow-x: hidden;
  height: 100%;
}


/****************************
  LINE SPINNER
*****************************/
@keyframes clockwise
{
  to {transform: rotate(360deg) translatez(0);}
}

.loader {
  height: 50px;
  width:  50px;
  border-width: 2px;
  border-style: solid;
  border-color: hsla(0, 0%, 90%, 0.50) hsla(0, 0%, 90%, 0.50) hsla(0, 0%, 90%, 0.50) hsla(0, 0%, 50%, 0.50);
  border-radius: 100%;
  animation: clockwise 0.65s linear infinite;
  position: relative;
  align-self: center;
  display: inline-block;
}

.loader-block {
  display: inline-flex;
  justify-content: center;
  position: relative;
  width: 100%;
  height: 100px;
  margin: 1em;
  overflow: hidden;

}


.cad-group-addon {
  .input-group-addon {
    background: transparent;
    border: none;
    @extend .text-muted;
  }
  > input {
    border-radius: $input-border-radius!important;
  }
}

.cad-panel {
  @extend .well;
  @extend .well-sm;
  background-color: transparent;
  box-shadow: none;
  position: relative;
}

.cad-panel__form-group {
  @extend .form-group;
  margin-top: 0.3em;
  margin-bottom: 0;
}


.cad-panel__title {
  display: inline-block;
  margin-right: 1em;
  margin-top: 0.5em;
}

.cad-panel__label {
  margin-left: 15px;
  background-color: #ffffff;
}
.cad-panel__label:before {
  position: absolute;
  top: 26px;
  left: -15px;
  display: inline-block;
  border-top: 0 solid transparent;
  border-left: 0 solid #ccc;
  border-right: 15px solid #ccc;
  border-bottom: 15px solid transparent;
  content: " ";
}

.cad-panel__label:after {
  position: absolute;
  top: 27px;
  left: -13px;
  display: inline-block;
  border-top: 0 solid transparent;
  border-left: 0 solid #fff;
  border-right: 14px solid #fff;
  border-bottom: 14px solid transparent;
  content: " ";
}

[ng\:cloak], [ng-cloak], .ng-cloak {
  display: none !important;
}





.cad-listing__stats--info {
  @extend .cad-listing__stats;
  margin-top: 10px;
}

.cad-table {
  width: 100%;
  td {
    padding: 0.2em;
  }
}

.panel-body--tabs {
  padding-top: 1.5em;
  ul.nav-tabs > :first-child {
    margin-left: 1em;
  }
  ul.nav-tabs > :last-child {
    margin-right: 1em;
  }
  .tab-content {
    margin: 1em;
  }
}


// Upload

.lmp-upload {
  position: relative;
  overflow: hidden;
  margin: 0;
}

.lmp-upload  input.upload {
  position: absolute;
  top: 0;
  right: 0;
  margin: 0;
  padding: 0;
  font-size: 20px;
  cursor: pointer;
  opacity: 0;
  filter: alpha(opacity=0);
}

.lmp-form-aside {
  @extend .list-unstyled;
  margin-top: 1em;
  margin-bottom: 2em;
  border-left: 4px solid #eee;
  padding-left: 2em;
}

.lmp-upload__icon--file {
  @extend .glyphicon;
  @extend .glyphicon-file;
}
.lmp-upload__icon--delete {
  @extend .glyphicon;
  @extend .glyphicon-trash;
}

.order-optional-fields  {
  table {
     tr:first-of-type td {
       border-top-color: transparent;
     }
  }
}
.order-optional-fields {
  padding: 1em;
}

fieldset[disabled].order-optional-fields {
  background-color: #fbfbfb;
  border-radius: 5px;
  opacity: 0.8;
}

.result {
  margin: 0 1em;
}

legend small.cad-label {
  @extend .label;
  @extend .label-info;
  font-size: 50%;
  position: relative;
  top: -2px;
}

.cad-comments {
  @extend .col-md-8;

}
.cad-comment {
  @extend .media;
}

.cad-comment__avatar {
  @extend .pull-left;
}
.cad-comment__body {
  @extend .media-body;
}


.cad-anim {
  transition: all 1.0s linear;
}

.slide-in-top{
  transform: translate3d(0, -100%, 0);
  opacity: 0;
}
.effeckt-show.slide-in-top {
  transform: translate3d(0, 0, 0);
  opacity: 1;
}

.anim-error{
  animation: shake 0.6s;
}

@keyframes shake {
  0%, 100% {transform: translateX(0);}
  20%, 60% {transform: translateX(-10px);}
  40%, 80% {transform: translateX(10px);}
}

.cad-comments-toggle {
  display: block;
  position: fixed;
  background: $btn-info-bg;
  color: $btn-info-color;
  height: 100%;
  top:0;
  width: 30px;
  vertical-align: middle;
  z-index: 1999;
  border-right: 1px solid $btn-info-border;
  .glyphicon {
    position: absolute;
    top: 50%;
    left: 8px;
  }
}


.caret--up {
  margin-left: 2px;
  vertical-align: middle;
  border-bottom: 4px solid;
  border-left: 4px solid transparent;
  border-top: 0 dotted;
  border-right: 4px solid transparent;
  content: "";
}

// overrides ---------------------------------------
.dropdown-menu > .disabled > a, .dropdown-menu > .disabled > a:hover, .dropdown-menu > .disabled > a:focus {
  display: block !important;
}

.cad-listing>tbody>tr>td {
  vertical-align: middle!important;
}